#first-paragraph {
    font-size: 25px;
}
.awesome {
    font-size: 40px;
}
#Link1{
    color: blue;
}
#Link2{
    color: teal;
}
#Link3{
    color: pink;
}
#Link4{
    color: magenta;
}

h1 {
    background-color: grey;
}
p {
    background-color: red;
}